body {
    background: #a84cda;
    font-family: Arial, sans-serif;
    margin: 20px;
}

#app {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

#main-title {
    text-align: center;
}

#item-list {
    list-style-type: none;
    padding: 0;
}

.item {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 15px;
    border-radius: 10px;
}

button {
    display: block;
    margin: 10px 0;
}

#deleted-items {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid rgb(25, 63, 65);
    border-radius: 10px;
}